body,
html {
  background: #f5f5f5;
}
.mui-terminal-warp {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  -ms-flex-align: center;
  -webkit-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
  flex-direction: column;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  background: #ffffff;
  margin-top: 15px;
}
.mui-terminal-warp > * {
  width: 96%;
}
.mui-terminal-warp .mui-terminal-tag {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  -ms-flex-align: center;
  -webkit-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
  flex-direction: column;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  color: #5A90A5;
  font-size: 16px;
  margin: 10px 0 20px 0;
}
.mui-terminal-warp .mui-terminal-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  -ms-flex-align: center;
  -webkit-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
  margin-bottom: 10px;
}
.mui-terminal-warp .mui-terminal-container .mui-terminal-list {
  flex: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  -ms-flex-align: center;
  -webkit-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
  flex-direction: column;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
}
.mui-terminal-warp .mui-terminal-container .mui-terminal-list .mui-list-title {
  margin: 5px 0;
}
.mui-terminal-warp .mui-terminal-container .mui-terminal-list .mui-list-title:nth-child(1) {
  color: #969696;
}
.mui-terminal-main {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  -ms-flex-align: center;
  -webkit-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
  flex-direction: column;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  background: #ffffff;
  margin-top: 15px;
  padding: 20px 0 10px 0;
}
.mui-terminal-main .mui-terminal-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  -ms-flex-align: center;
  -webkit-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
  width: 100%;
}
.mui-terminal-main .mui-terminal-menu .mui-terminal-list {
  flex: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  -ms-flex-align: center;
  -webkit-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
  flex-direction: column;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
}
.mui-terminal-main .mui-terminal-menu .mui-terminal-list .mui-list-title {
  margin: 5px 0;
}
.mui-terminal-main .mui-terminal-menu .mui-terminal-list .mui-list-title:nth-child(1) {
  color: #969696;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  -ms-flex-align: center;
  -webkit-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
}
.mui-terminal-main .mui-terminal-menu .mui-terminal-list .mui-list-title:nth-child(1) img {
  width: 60%;
}
.mui-terminal-main .mui-terminal-menu .mui-terminal-list:nth-child(1) .mui-list-title:nth-child(1) {
  background: linear-gradient(45deg, #EFD18D, #E6C37C);
  box-shadow: -1px 1px 20px rgba(239, 209, 141, 0.4);
}
.mui-terminal-main .mui-terminal-menu .mui-terminal-list:nth-child(n+2) .mui-list-title:nth-child(1) {
  background: linear-gradient(45deg, #F6ABA2, #EF8173);
  box-shadow: -1px 1px 20px #F6ABA2;
}
.mui-terminal-main .mui-terminal-menu:nth-child(2) .mui-terminal-list:nth-child(n+2) .mui-list-title:nth-child(1) {
  background: linear-gradient(45deg, #E8EAFF, #6971F5);
  box-shadow: -1px 1px 20px #E8EAFF;
}
